.sample-tray-container {
  height: 40vh;
  background-color: red;
  position: absolute;
  bottom: 0;
  width: 100vw; 
  border-top: 5px solid yellow;
  transition: bottom 1s ease-in;

}

.sample-tray-hidden{
    bottom: 10px;
    transition: bottom 1s ease-in;
}