
.sample-tray-container {
  height: 40vh !important;
  // background-color: red;
  position: absolute;
  bottom: 0;
  width: 100vw; 
  // background-blend-mode: blur 10px;
  // background-color: white;
  // border-top: 5px solid yellow;
  transition: bottom .1s ease-in;
  z-index: 10;

}

.sample-tray-hidden{
    bottom: -36vh;
    transition: bottom .1s ease-in;
}

.sample-tray-innter-container{
  flex-direction: column;
}